body
{
  font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
  text-align: center;
}

.thing-list 
{
  position: absolute;
  top: 60px;
}

.thing-list-right 
{
  .thing-list;
  right: 20px;
}

.thing-list-left 
{
  .thing-list;
  left: 20px;
}
 
.btn_thing{
    min-width:160px !important;
}

.addThings{
   .thing-list;
   left:200px;
}

.logged-no {
    padding: 4px 0 0 0; 
    

    input {
        margin: 0;
    }
}

@bgcolor: #ccc;
svg.radar
{
  //border: 2px solid red;

  @stroke: #83b2e5;
  circle.thing
  {
    stroke: @stroke;
    stroke-width: 1;
    fill: lighten(@stroke, 15%);
  }

  line.lines,
  circle.lines {
    stroke: @bgcolor;
    stroke-width: 1;
    fill: none;
  }

  text {
    font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
    font-size: 12px;
  }

  tspan {
    font-size: 10px;
    fill: darken(@bgcolor, 33%);
  }
}

