body {
  font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
  text-align: center;
}
#thing-add-title {
  width: 110px;
  padding: 4px 6px;
  margin: 0;
}
#thing-add-submit {
  width: 34px;
  padding: 4px 10px;
}
#contents {
  width: 100%;
  position: relative;
}
.thing-list-left {
  position: absolute;
  top: 0px;
  left: 20px;
}
.btn_thing {
  min-width: 160px !important;
}
.addThings {
  left: 200px;
}
.logged-no {
  padding: 4px 0 0 0;
}
.logged-no input {
  margin: 0;
}
.rant-text {
  font-family: serif;
  font-size: 18px;
}
div#rant-container {
  font-family: serif;
  font-size: 18px;
  position: absolute;
  right: 40px;
  width: 300px;
}
div#rant-container .rant-name {
  width: 100%;
  text-align: right;
  clear: both;
}
div#rant-container .quote {
  float: left;
  font-size: 40px;
}
div#rant-container .quote-after {
  bottom: -0.5em;
}
div#rant-container #rant-message {
  position: absolute;
  top: 160px;
  clear: both;
  width: 100%;
  text-align: center;
  font-size: 13px;
  color: #44ff44;
  display: none;
}
div#rant-container #rant {
  font-family: serif;
  font-size: 18px;
  float: left;
  font-style: italic;
  width: 250px;
  text-align: left;
  height: 150px;
}
svg.radar circle.thing {
  stroke: #83b2e5;
  stroke-width: 1;
  fill: #c2d9f2;
}
svg.radar circle.selected-opinion {
  stroke: #ff8800;
  fill: #ffac4d;
}
svg.radar line.lines,
svg.radar circle.lines {
  stroke: #cccccc;
  stroke-width: 1;
  fill: none;
}
svg.radar text {
  font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
  font-size: 12px;
}
svg.radar tspan {
  font-size: 10px;
  fill: #787878;
}
svg.radar.quadrant-3,
svg.radar.quadrant-0 {
  margin-left: -300px;
}
