body
{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  
}

.bootstrap-font-mixin {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
}

#page {
    position: relative;
    text-align: center;
    max-width: 1024px;
    margin: 0 auto;
}

.alert {
    max-width: 600px;
    margin: 0 auto 20px auto;
    text-align: left;
}


.navbar 
{
    .public,
    .private
    {
        display: none;
    }

    .navbar-inner {
        padding-left: 10px;
        max-width: 1100px;
        margin: 0 auto;
    }

    form, p
    {
        margin: 0;
    }

    p
    {
        padding: 10px 15px;
    }

    .btn
    {
        margin: -10px 0 -6px 0;
    }
    .logged-yes .btn
    {
        margin-left: 10px;
    }
    a.brand
    {
        margin: 0;
        padding: 7px 4px 0 0;
    }

    .logon
    {
        margin-left: 20px;
    }

    white-space: nowrap;
}

#thing-add-title
{
    width: 110px;
    padding: 4px 6px;
    margin: 0;
}
#thing-add-submit
{
    width: 34px;
    padding: 4px 10px;
}
#contents 
{
    width: 100%;
    position: relative;
}

.thing-list-left 
{
  position: absolute;
  top: 0px;
  left: 20px;  
}
 
.btn_thing{
    min-width:160px !important;
}

.addThings{
   left:200px;
}

.logged-no {
    padding: 4px 0 0 0; 
    

    input {
        margin: 0;
    }
}

.rant-text {
    font-family: serif;
    font-size: 18px;
}

.message-mixin {
    clear: both;
    width: 100%;
    font-size: 13px;
    color: #44ff44;
    display: none;
    
}

div#rant-container {
    .rant-text;

    position: absolute;
    right: 40px;
    width: 300px;
    display: none;

    .rant-name {
        .bootstrap-font-mixin;
        font-size: 16px;
        width: 100%;
        text-align: right;
        clear: both;
    }

    .quote {
        float: left;
        font-size: 40px;
    }

    .quote-after {
        
        bottom: -0.5em;
    }

    .rant-why {
        .bootstrap-font-mixin;
        font-size: 12px;
        margin: 0 18px 20px 18px;
        height: 60px;
        text-align: left; 
    }

    #rant-message {
        .bootstrap-font-mixin;
        .message-mixin;
        position: absolute;
        text-align: left;
        padding-left: 18px;
        top: 250px;
    }

    .rant {
        .rant-text;
        float: left;
        font-style: italic; 
        max-width: 250px;
        text-align: left;
    }

    #rant {
        height: 150px;
    }
}

div#desc-container,
div#desc-overlay-container
 {
    display: none;
    clear: both;
    width: 550px;
    margin: 10px auto;
    text-align: left;

    .bootstrap-font-mixin;

    .header {
        font-weight: bold;
        small {
            font-weight: normal;
        }
    }
    textarea#desc {
        .bootstrap-font-mixin;
        width: 95%;
        height: 70px;
    }

    form {
        margin: 0;
    }

    div#desc-message {
        .message-mixin;
        text-align: center;
        margin-top: -25px;
    }
}

div#desc-overlay-container 
{
    display: none;
}

.modal
{
    text-align: left;

    input {
        margin: 20px 10px 0 10px;
        width: 400px;
    }
}

#share-link-button
{
    display: none;
}

.all-quadrants
{
    div#desc-overlay-container 
    {
        position: absolute;
        right: 40px;
        width: 400px;
        bottom: 0px;
    }

    div#rant-container
    {
        top: 0px;
    }

    #share-link-button
    {
        display: block;
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
}



@bgcolor: #ccc;
svg.radar
{
  //border: 2px solid red;

  @stroke: #83b2e5;
  @selected-stroke: #ff8800;
  circle.thing
  {
    stroke: @stroke;
    stroke-width: 1;
    fill: lighten(@stroke, 15%);
  }

  circle.selected-opinion
  {
    stroke: @selected-stroke;
    fill: lighten(@selected-stroke, 15%);
  }

  line.lines,
  circle.lines {
    stroke: @bgcolor;
    stroke-width: 1;
    fill: none;
  }

  text {
    font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
    font-size: 12px;
  }

  tspan {
    font-size: 10px;
    fill: darken(@bgcolor, 33%);
  }
}

svg.radar.quadrant-3,
svg.radar.quadrant-0
{
    margin-left: -300px;
}

.all-quadrants svg.radar
{
    margin-left: -300px;
}